.key {
    background-color: white;
    height: 150px;
    width: 29px;
    border: 1px solid black;
}

.key.flat {
    position: relative;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;
    width: 14px;
    z-index: 2;
}

.key.pressed, .key.flat.pressed {
    background-color: #61dafb;
}

.key-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-top: 240px;
    pointer-events: none;
}